.our-story_pics {
  display: flex;
  justify-content: space-between;
}

.our-story_top {
  @extend %head-top;
}

.our-story_bottom {
  @extend %head-bottom;
  &::after {
    @extend %underline2;
  }
}

.our-story_discription {
  @extend %head-discription;
}

.our-story {
  &_img {
    position: absolute;
  }
  &_content {
    opacity: 0;
  }
  &_svg {
    margin: 0 auto 15px;
    fill: $white-color;
  }
  &_img-head {
    @extend %head-bottom;
    color: $white-color;
  }
  &_img-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 380px;
    height: 250px;
    transition: all .2s linear;
    &:hover {
      transform: translate(-15px, -15px);
      box-shadow: 15px 15px 1px $main-content-color;
      transition: all .2s linear;
    }
    &:hover::after {
      opacity: 1;
      transition: all .2s linear;
    }
    &:hover .our-story_content {
      opacity: 1;
      z-index: 101;
    }
    &:after {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: $gradient;
      z-index: 100;
      opacity: 0;
      transition: all .2s linear;
    }
  }
}

.statistic {
  background-color: $main-content-color;
  &_wrapper {
    @extend %wrapper-base;
    @extend %flex-between;
  }
  &_count {
    font-size: 72px;
    @extend %montserat-bold-white;
    margin-bottom: 35px;
  }
  &_discription {
    color: $white-color;
    text-transform: uppercase;
  }
  &_box {
    padding: 90px 0;
    width: 240px;
    &:nth-child(2n+1) {
      border: 1px solid #b5eae0;
    }
  }
}
