$yellow-color: #fce38a;
$main-content-color: #95e1d3;
$white-color: #fff;
$services-text-color: #000;
$pink-color: #f38181;
$main-padding: 100px 0;
$gradient: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(248, 142, 130, 0.9));
$discription-color: #b3b3b3;
$slider-bg-color: #f8f8f8;
