$yellow-color: #fce38a;
$main-content-color: #95e1d3;
$white-color: #fff;
$services-text-color: #000;
$pink-color: #f38181;
$main-padding: 100px 0;
$gradient: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(248, 142, 130, 0.9));
$discription-color: #b3b3b3;
$slider-bg-color: #f8f8f8;
%background-plch {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%pseudo-base {
  display: block;
  content: "";
  width: 60px;
  height: 5px;
  background-color: $pink-color;
  margin: 0 auto 45px;
}

%flex-between {
  display: flex;
  justify-content: space-between;
}

%wrapper-base {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

%pseudo {
  display: block;
  content: "";
}

.bggradient {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  left: 0;
  background: $gradient;
}

%head-top {
  font-size: 24px;
  font-family: "KaushanScript", Arial, sans-serif;
  margin-bottom: 25px;
}

%roboto {
  font-family: "Roboto", Arial, sans-serif;
  color: $discription-color;
}

%roboto-italic {
  font-family: "Roboto-LightItalic", Arial, sans-serif;
  color: $discription-color;
}

%head-bottom {
  font-size: 30px;
  font-family: "Montserrat-bold", Arial, sans-serif;
  text-transform: uppercase;
}

%head-discription {
  width: 960px;
  color: $discription-color;
  margin: 0 auto 100px;
}

%fonts {
  color: $white-color;
  font-family: "Montserrat-bold", Arial, sans-serif;
}

%underline2 {
  display: block;
  content: "";
  width: 60px;
  height: 3px;
  background-color: $pink-color;
  margin: 40px auto;
}

%montserat-bold-white {
  color: $white-color;
  font-family: "Montserrat-bold", Arial, sans-serif;
  text-transform: uppercase;
}
